.copyright {
    text-align: center;
    border-top: 1px solid #646161;
    padding: 10px 0;

    p {
        font-size: 90%;
        margin: 0;
        line-height: 1;
        color: #646161;
        transition: color .4s linear;
        cursor: pointer;

        &:hover {
            color: #a29898;

        }
    }
}