.topbar {
    background: $lightBlue;
    padding: 8px 0;
    border-bottom: 1px solid $textLightBlue;

    ul {
        font-size: 1.2rem;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        margin: 0;

        li {
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
        }
    }
}