$lightBlue: #1d2f40;
$textWhite: #ffffff;
$white: #ffffff;
$textLightBlue: #515e6f;
$textHover: #ff6347;
$darkBlue: #192836;
$transition: 0.4s ease;
$black: #000000;
$boxShadow: 0px 5px 14.25px 0.75px rgba(0, 0, 0, 0.2);
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1;
    min-width: 320px;
}

@import "_global";
@import "_cButton";
@import "_topBar";
.hoverText {
    transition: $transition;
    cursor: pointer;

    &:hover {
        color: $textHover;
    }
}

/*******************************************
NAVBAR
********************************************/
.navbar {
    background-color: $darkBlue;

    .icon {
        @media (max-width: 767px) {
            font-size: 2.5rem;
        }
    }

    .menu-bar {
        cursor: pointer;
    }

    &-mobile {
        & > ul {
            padding: 20px;
            background: $darkBlue;
            box-shadow: $boxShadow;
            width: 100%;
            color: $white;

            .drop {
                ul {
                    padding: 10px 0 0px 10px;
                }

                span {

                    transition: $transition;
                }

                &:hover > span {
                    color: $textHover;
                }
            }

            li {
                padding: 10px 0;
                transition: $transition;

                & :hover > span {
                    color: $textHover;
                }
            }

            & > li {
                span {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }

        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
    }

    &-logo {
        position: relative;
        padding: 1rem 0;
    }

    &-menu {

        a {
            transition: $transition;

            &:hover {
                color: $textHover;
            }
        }


        & > ul {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 1.5rem;
            color: $textWhite;

            & > li {
                display: flex;
                align-items: center;
                position: relative;
                height: 100%;
            }

            & > li:not(.ignore) {
                display: flex;
                align-items: center;
                position: relative;
                height: 100%;

                & > span, & > a {
                    text-transform: uppercase;
                    font-weight: 700;
                    cursor: pointer;
                    position: relative;
                    transition: $transition;

                    &:after {
                        content: "";
                        position: absolute;
                        height: 3px;
                        background-color: $textHover;
                        width: 100%;
                        top: 100%;
                        left: 0;
                        margin-top: 5px;
                        transition: $transition;
                        transform: scaleX(0);
                        border-radius: 3px;
                    }

                    &:hover {
                        color: $textHover;

                        &:after {
                            transform: scaleX(1);
                            transform-origin: center center;
                        }
                    }
                }
            }

            .drop {
                ul {
                    position: absolute;
                    top: 150%;
                    left: -30px;
                    width: 250px;
                    background: #ffffff;
                    box-shadow: 0px 5px 14.25px 0.75px rgba(0, 0, 0, 0.2);
                    padding: 15px 30px;
                    z-index: 9999;
                    opacity: 0;
                    visibility: hidden;
                    transition: $transition;
                    color: $darkBlue;
                    font-weight: 700;

                    li {
                        color: $textLightBlue;
                        padding: 10px 0;
                    }
                }

                &:hover {
                    ul {
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }


    }
}

@import "_hero";
/*******************************************
ABOUT
********************************************/
.aboutInfo {
    article {
        display: flex;
        position: relative;
        @media (max-width: 1100px) {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    &-img {
        width: 40%;
        @media (max-width: 1100px) {
            width: 100%;
        }

        img {
            width: 130%;
            @media (max-width: 1100px) {
                width: 100%;
            }
        }
    }

    &-content {
        width: 60%;
        position: relative;
        margin-top: 4rem;
        background: $white;
        padding: 5rem;
        border-radius: 5px;
        box-shadow: $boxShadow;
        @media (max-width: 1100px) {
            width: 100%;
        }

        ul {
            list-style: disc;
            list-style-position: inside;
            margin-bottom: 2.5rem;

            li {
                line-height: 2.4rem;
                margin-bottom: 1rem;

                &:last-child {

                    margin-bottom: 0rem;
                }
            }
        }
    }
}

/*******************************************
STUDY
********************************************/
.studyLevelsCard {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        @media (max-width: 992px) {
            grid-template-columns: 1fr;
            grid-auto-rows: 250px;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }

    .card {
        min-height: 250px;
        height: 100%;
    }

    .card-title {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        flex: 1;
    }

    .card-img-overlay {
        padding: 2rem;
        background: rgba($black, .4);
        transition: $transition;
        cursor: pointer;
        backdrop-filter: blur(1px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {

            }
        }

        &:hover {

            backdrop-filter: blur(5px);
        }
    }
}

@import "_studyLevel";
/*******************************************
FOOTER
********************************************/
.footer {
    background: $darkBlue;
}

/*******************************************
DOCUMENTS
********************************************/
.documents {
    article {
        margin-top: 3rem;

        &:first-child {
            margin-top: 0rem;
        }
    }

    .subdocuments {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .card {
            text-align: center;
            box-shadow: $boxShadow;

            h4 {
                font-size: 1.8rem;
                font-weight: 700;
            }

            p, a {
                display: inline-block;
                margin: 1em 0;
            }

            a {
                background: $darkBlue;
                color: $white;
                padding: 1rem 1.5rem;
                border-radius: 3rem;

                span {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@import "_contactPage";

/*******************************************
ERRORS
********************************************/
.error {
    &-503 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        @media (max-width: 1110px) {
            flex-direction: column-reverse;
        }

        article {
            flex: 1;
            @media (max-width: 1110px) {
                text-align: center;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }

        h1 {
            font-size: 3rem;
            font-weight: 700;
        }
    }
}