.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: #192836;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 3;
    border: 4px solid #fff;
    top: 50%;
    left: 50%;
    margin: -25px;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #f3728b;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}